@model IEnumerable<GestionAutobusesAPI.Models.Horario>

@{
    ViewData["Title"] = "Horarios";
}

<h2>Horarios</h2>

<a class="btn btn-custom-green mb-3" asp-action="Create">Crear nuevo horario</a>

<table class="table table-striped table-bordered bg-white">
    <thead class="table-primary">
        <tr>
            <th>Ruta</th>
            <th>Hora de salida</th>
            <th>Hora de llegada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RutaId @item.RutaId</td>
                <td>@item.FechaHoraSalida.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.FechaHoraLlegada.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-back" asp-controller="Home" asp-action="Index">Volver al inicio</a>
