@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model GestionAutobusesAPI.Models.Reserva

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePasajero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePasajero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
