@model IEnumerable<WebApplication1.Models.Autobus>

@{
    ViewData["Title"] = "Autobuses";
}

<h2>Autobuses</h2>

<a class="btn btn-custom-green mb-3" asp-action="Create">Crear nuevo autobús</a>

<table class="table table-striped table-bordered bg-white">
    <thead class="table-primary">
        <tr>
            <th>Placa</th>
            <th>Capacidad</th>
            <th>Modelo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Placa</td>
                <td>@item.Capacidad</td>
                <td>@item.Modelo</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-back" asp-controller="Home" asp-action="Index">Volver al inicio</a>